#welcome {
    padding: 50px 0;
    background: rgb(243, 243, 243);
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  .img2{
    margin-top: -70px;
  }
  .welcome-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    gap: 80px;
    /* width: 380px; */
    h2 {
      font-weight: 500;
      line-height: 134%;
      color: #EE4248;
      span{
        color: #1F2E35;
      }
    }
    p{
        color: #30444E;
    }
  }
}

@media(max-width:1000px){
  .img2{
    width: 270px;
  }
}
@media(max-width:700px){
  .welcome{
    flex-direction: column;
    .welcome-text{
      gap: 2px;
      p{
        padding-top: -30px;
      }
    }
  }
  .img2{
    padding-top: 20px;
    width: 270px;
  }
  
}