#product {
  padding: 80px 0;
}
.product {
  .product-service {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    .products {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      /* text-align: start; */
      .our {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 230px;
        /* background: #0000001d; */
        h3 {
          color: #ee4248;
        }
        p {
          color: #30444e;
        }
        button {
          width: 119px;
          height: 42;
          top: 315px;
          left: 24px;
          border-radius: 4px;
          padding-top: 8px;
          padding-right: 16px;
          padding-bottom: 8px;
          padding-left: 16px;
          gap: 10px;
          background: #ee4248;
          color: white;
          border: none;
        }
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding-top: 140px;
    gap: 130px;
    .logo {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;
      h5 {
        color: black;
      }
      p {
        color: #425661;
        font-weight: 300;
        font-size: 13px;
        line-height: 149%;
      }
    }
    .email {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;
      p {
        color: #425661;
        font-weight: 300;
        font-size: 13px;
        line-height: 149%;
      }
    }
  }
}

@media(max-width:900px){
  .products{
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 100%;
    
    gap: 10px;
    text-align: center;
    .our{
      align-items: center;
      text-align: center;
      /* justify-content: stretch; */
      width: 100%;
    }
  }
}

@media(max-width:650px){
  .products{
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
@media(max-width:500px){
 .contact{
  justify-content: center;
  display: none;
  gap: 2px;
  .logo{
    .img3{
      width: 100px;
    }
  }
  .email{
    margin-left: -100px;
  }
 }
}