#Making {
  padding: 80px 0;
}
.Making {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  .Making-info {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    text-align: start;
    h1 {
      font-weight: 700;
      /* font-size: 28px; */
      line-height: 134%;
      span {
        color: #ee4248;
      }
    }
    p {
      color: #30444e;
    }
    button {
      width: 161;
      height: 53;
      top: 372px;
      border-radius: 4px;
      padding-top: 12px;
      padding-right: 32px;
      padding-bottom: 12px;
      padding-left: 32px;
      gap: 10px;
      background: #EE4248;
      border: none;
      color: white;
    }
  }
}
